<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Note</title>
</head>
<body>
    {{ template "header" . }}
    <main>
        <h1>Создание записки</h1>
        <form id="createNote">
                <label for="name">Имя</label><br>
                <input type="text" name="name"><br>
                <!--  -->
                <label for="text">Текст</label><br>
                <textarea name="text" id="text" rows="5" cols="40"></textarea><br>
                <!--  -->
                <input type="submit" value="Создать">
            </form>
            <script>
                const form = document.getElementById('createNote');
                const endpoint = "{{ .HttpType }}://localhost:{{ .Port }}/api/v1/notes"
                
                form.addEventListener('submit', async (event) => {
                    event.preventDefault();

                    const formData = new FormData(form);
                    const data = Object.fromEntries(formData);

                    try {
                        const res = await fetch(endpoint, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        });

                        const result = await res.json().catch(() => null);

                        if (!res.ok) {
                            alert("Ошибка при создании записки.");
                            return;
                        }
                        alert("Записка создана");
                        window.location.href="/notes";
                    } catch (error) {
                        alert("Ошибка сети или сервера");
                    }
                });    
            </script>
    </main>
    {{ template "footer" . }}
</body>
</html>